@font-face{
  font-family: StarWars;
  src: url(Strjmono.ttf);
}

select, button{
  cursor: pointer;
}

.App {
  text-align: center;
}

#App-top-bar {
  width: 100%;
  position: fixed;
  top: -5px;
  background: #282c34;
  padding-bottom: 10px;
  border-bottom: 1px solid #FC0;
}

.App-link {
  color: #61dafb;
}

.Sw-txt{
  color: #282c34;
  font-family: StarWars;
  text-align: center;
  text-shadow:
  -1px -1px 0 #FC0,
  1px -1px 0 #FC0,
  -1px 1px 0 #FC0,
  1px 1px 0 #FC0; 
}

input{
  text-transform: uppercase;
  background: #282c34;
  border: 1px solid #FC0;
  padding: 10px;
  color: #FC0;
}

input:active, input:focus{
  background: #FC0;
  color: #282c34;
  outline: none;
  border: 1px solid #282c34;
}

input::placeholder{
  color: #FC0;
}

select:active{
  border: 1px solid #FC0;
}

select{
  background: #FC0;
  color: #282c34;
  padding: 10px;
  border: 1px solid #FC0;
  padding: 9px 10px 10px 10px;
}

select:active, select:focus{
  outline: none;
}

select > option{
  padding: 10px;
  background: #282c34; 
  color: #FC0;
}

#Search-select{
  width: 135px;
  display: inline-block;
}

#Search-input{
  width: 50%;
  display: inline-block;
}

#Container{
  margin: 120px 20px 20px 20px; 
  min-height: 640px;
}

.Card{
  display: inline-block;
  width: 230px;
  color: #FC0;
  border: 1px solid #FC0;
  margin: 10px;
}

.Card-header{
  margin-top: 5px;
}

.Card-img{
    border: 1px solid #FC0;
}

.Card-text{
  padding: 9px 10px 10px 10px;
  text-align: left;
}

.Card-btn{
  color: #FC0;
  border: 1px solid #FC0;
  padding: 10px;
  background: #282c34; 
  margin-top: -50px;
  margin-left: 132px;
}

#footer{
  height: 25px;
  border-top: 1px solid #FC0;
  width: 100%;
}



